.aside-canvas{
    background: #3936BC;
}

.aside{
    color: white;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

.aside-title{
    background-color: #FF9A9A !important;
    color: #2A2A2A;
    font-size: 23px;
    font-weight: 600;
    padding-left: 30px;
}

.aside-row{
    background: #D0FFBF;
    min-height: 40px;
    align-items: center;
    cursor: pointer;
}

.aside-link{
    text-decoration: none;
    color: #3936BC;
    font-size: 20px;
    font-weight: 500;
    /* text-align: center; */
}

.aside-topic{
    padding-left: 30px;
    background: #FF9A9A;
    min-height: 40px;
    align-items: center;
    width: 85%;
    border: unset;
    /* text-align: justify;
    text-align: center; */
    color: #2A2A2A;
    font-size: 17px;
    font-weight: 500;
}

.aside-topic:hover{
   cursor: pointer;
}

.aside-topic button{
    all: unset;
}




@media (max-width:991px){
    .aside{
        background: #3936BC;
    }
    .aside-offcanvas{
        width: 40% !important;
    }
    .aside-row{
        width:103%;
    }
    .aside-topic{
        white-space: nowrap;
    }
}


@media (max-width:725px){
    .aside-offcanvas{
        width: 70% !important;
    }

    .aside-row{
        width:102.5%;
    }
}

@media (max-width:400px){
    .aside-offcanvas{
        width: 80% !important;
    }
    .aside-topic{
        white-space: unset;
    }
}


